html,
body,
#root,
.tests-management-application {
    width: 100%;
    height: 100vh;
    display: flex;
}

.flexfullwh {
    width: 100%;
    height: 100vh;
    display: flex;
}

.center {
    margin: auto;
    text-align: center;
}

.error {
    color: red;
}

.success {
    color: lawngreen;
}

.warning {
    color: orange;
}